#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Tab Container */
.Tabs {
  width: 100%;
  height: auto;
  min-height: 400px;
  background: rgb(176, 202, 222);
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
  @media (max-width: 769px) {
    /* Conditional media query will be applied to browsers with width 769px or less */
    padding: 2rem 0;
  }
}

.Tabs li {
  color: #e8f0f2;
}

/* Tab Navigation */
ul.nav {
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #39a2db;
  border-radius: 2rem; */
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 10rem;
  padding: 1rem;
  list-style: none;
  background-color: #96bcd9;
  /* border-radius: 2rem; */
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
ul.nav li:nth-child(1) {
  border-radius: 0;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:last-child {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: #89b1d0;
}
ul.nav li.active {
  background: #39a2db;
}

/* First and Second Tab Styles */
.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}
